<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Add New Book</h1>
    <!--Formulaire pour ajouter un livre-->
    <a href="/">Back to Home</a>
    <form action="/addBook" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <label for="genre">Genre</label>
        <input type="text" name="genre" id="genre">
        <input type="submit" value="Add Book">
    </form>
    <a href="/">Back to Home</a>
    <a href="/book/<%= book.id %>">Back to Book Details</a>    
</body>
</html>