<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emprunter un Livre</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Emprunter un Livre</h1>
    <!-- Formulaire pour emprunter un livre -->
    <a href="/">Back to Home</a>
    <form action="/borrowBook" method="POST">
        <label for="bookId">Book ID</label>
        <input type="text" name="bookId" id="bookId">
        <input type="submit" value="Borrow Book">
    </form>
    <a href="/">Back to Home</a>
    <a href="/book/<%= book.id %>">Back to Book Details</a>
</body>
</html>