<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de Recherche</title>
    <link rel="stylesheet" href="/static/searchResults.css">
</head>
<body>
    <h1>Résultats de Recherche</h1>
    <!-- Affichage des résultats de recherche -->
    <a href="/">Back to Home</a>
    <ul>
        <% books.forEach(book => { %>
            <li><a href="/book/<%= book.id %>"><%= book.title %></a></li>
        <% }); %>
    </ul>
    <a href="/">Back to Home</a>
    <a href="/book/<%= book.id %>">Back to Book Details</a>   
</body>
</html>